{% extends 'base.html' %}

{% block title %}
    Bangalee Kamara Jr - About Me Page
{% endblock %}

{% block content %}
    <h2>About Me</h2>
    <p>
        Bangalee Kamara Jr is a senior level computer programmer with efficient coding skills in C, C++. C#, PHP, Python, R for data science
        amongst other languages. Mr Kamara is also an intermediate application devleoper for both desktop and web. He is good in writting database scripts base on the the following languages.
    </p>

    <h2>Programming knowledge</h2>
    <table class="table table-striped table-dark">
        <tr class="text-center">
            <th>Languages</th>
            <th>Platform/Framework/Application</th>
        </tr>
       <tr>
            <td>C, C++</td>
            <td>Console Application</td>
        </tr>
        <tr>
            <td>C Sharp (C#)</td>
            <td>Desktop, Web application</td>
        </tr>
        <tr>
            <td>PHP</td>
            <td>Web application</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>Desktop, Web application</td>
        </tr>
        <tr>
            <td>Database languages</td>
            <td>SQL Server, MySQL, Sqlite, Oracle</td>
        </tr>
    </table>
{% endblock %}